@model Progetto_Meteo_Trentino.Models.RichiestaMeteoGiorno

@{
    ViewData["Title"] = "RichiestaMeteoGiorno";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container">
            <form method="post" asp-action="RichiestaMeteoGiorno" asp-controller="Meteo">
                <div class="container">
                    <div class="form-group col-md-offset-3 col-md-5">
                        <h2>Cerca la previsione del tempo per una data specifica in una città</h2>
                        <label for="citta" style="font-family: Arial">Inserisci il nome della citta</label>
                        <input type="text" id="citta" name="citta" class="form-control" required />
                        </div>
                    <div class="form-group col-md-offset-3 col-md-5">
                        <label for="giorno" style="font-family: Arial">Seleziona la data:</label>
                        <input type="date" id="giorno" name="giorno" class="form-control" required min="yyyy-MM-dd" />

                    </div>
                </div>
                <div class="container">
                    <div class="form-group col-md-offset-3 col-md-5">
                        <button type="submit" class="btn btn-primary">Cerca</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>